{% extends "base.html" %}
{% block content %}
<h2 class="text-2xl font-semibold mb-4">Your Tasks</h2>

<!-- Example button -->
<a href="{{ url_for('tasks.index_task') }}">
    <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">
      Add New Task
    </button>
</a>
<div>
    <ul class="mt-6 p-4 bg-white shadow rounded">
        {% for task in tasks %}
            <div class="flex justify-between items-center border-4 border-sky-500 rounded-lg mb-2 mt-2">
                    <div class="p-4 text-2xl">
                        <form action="{{ url_for('tasks.description') }}" method="get">
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button type="submit">
                                {{ task.title }}
                            </button>
                        </form>
                    </div>
                    <div class="p-4">
                        <form method="POST" action="{{ url_for('tasks.complete') }}">
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button type="submit"  class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700 m-2">Complete</button>
                        </form>

                        <form method="POST" action="{{ url_for('tasks.delete') }}">
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700 m-2">Delete</button>
                        </form>
                    </div>
            </div>

        {% else %}
            <li>No tasks yet</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
